<h2>以下の内容でよろしいですか？</h2>

<%= form_with(model:@picture,local:true) do |form|  %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>

  <%= @picture.content %>
  <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>

  <%= form.submit "投稿" %>
  <%= form.submit "戻る",name:"back" %>
<% end %>

<%= link_to "戻る",pictures_path %>